<section class="map">

    <div class="wrapper"> 
        <div class="main-form__container">
            <div class="main-form__top">
                <div class="main-form__title m-title">
                        Остались вопросы?
                </div>
                <div class="main-form__desc m-desc">Оставьте заявку и мы перезвоним вам</div>

                <form id="my-form-map" class="main-form" action="#" methos="post">
                    <input style="background-image: url(../static/img/content/input-icon-1.png" 
                    class="m-field " 
                    type="name" 
                    name="name" 
                    placeholder="Ваше имя">

                    <input style="background-image: url(../static/img/content/input-icon-2.png" 
                    class="m-field" 
                    type="phone" 
                    name="phone"
                    minlength="15" 
                    placeholder="Ваш телефон">

                    <button class="m-button price__form-button">
                        Отправить
                    </button>
                </form>
            </div>
        </div> 
    </div>

    <div id="map" data-lat="55.643941" data-lng=" 37.619413" data-zoom="13"></div>

</section>

<script>
function initMap() {
    var coordinates = {lat: +document.getElementById('map').dataset.lat, lng: +document.getElementById('map').dataset.lng},
    
    map = new google.maps.Map(document.getElementById('map'), {
    center: coordinates,
    disableDefaultUI: false,
    zoom: +document.getElementById('map').dataset.zoom,
    styles:
        [
            {
                "featureType": "administrative.country",
                "elementType": "geometry",
                "stylers": [
                    {
                        "visibility": "simplified"
                    },
                    {
                        "hue": "#ff0000"
                    }
                ]
            }
        ]
    }),

    marker = new google.maps.Marker({
        position: coordinates,
        map: map,
    
    });
}   
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArhjryUViZ3QCtOrJUwnCTSkYJSi-bxRo&callback=initMap"></script>


