<section class="first">
    <div class="first__bg" style="background-image: url(../../static/img/content/first-bg.jpg)">
    </div>
    <div class="wrapper">
        <div class="first__left">
            <h1 class="main-title">
                Индивидуальные и групповые  <br>
                <span>тренировки в Москве</span> по русскому <br>
                бильярду, пулу, снукеру и карамболю
            </h1>
            <div class="m-desc first__desc">
                Мечтаете почувствовать себя настоящим профессионалом?<br>
                Добро пожаловать к нам на уроки бильярда!
            </div>
            <a href="#" class="first__button m-button modal-open">
                Записаться на пробное занятие
            </a>
        </div>

        <div class="first__social">
            <a href="#" class="first__social-link">
                {{Icon iconName='inst' className='first__social-icon'}}
            </a>
            <a href="#" class="first__social-link">
                {{Icon iconName='vk' className='first__social-icon'}}
            </a>
            <a href="#" class="first__social-link">
                {{Icon iconName='yt' className='first__social-icon'}}
            </a>
        </div>
    </div>
</section>