<section class="galery-slider">
    
    <div class="wrapper">

        <div class="m-title">
            Наша галерея
        </div>
        
        <div class="swiper-container">
            <div class="swiper-wrapper galery-block">
                <a href="../../static/img/content/galery-slide-1.jpg" class="swiper-slide galery-block-slide">
                    <img src="../../static/img/content/galery-slide-1.jpg" alt="">
                </a>
    
                <a href="../../static/img/content/galery-slide-2.jpg" class="swiper-slide galery-block-slide">
                    <img src="../../static/img/content/galery-slide-2.jpg" alt="">
                </a>
    
                <a href="../../static/img/content/galery-slide-3.jpg" class="swiper-slide galery-block-slide">
                    <img src="../../static/img/content/galery-slide-3.jpg" alt="">
                </a>
                <a href="../../static/img/content/galery-slide-3.jpg" class="swiper-slide galery-block-slide">
                    <img src="../../static/img/content/galery-slide-3.jpg" alt="">
                </a>
            </div>

            <div class="swiper-button-prev galery-button">
                {{Icon iconName="button-icon"}}
            </div>
            <div class="swiper-button-next galery-button">
                {{Icon iconName="button-icon"}}
            </div>
        </div>
    </div>

</section>