<div class="section">
    <div class="wrapper ">
        <div class="m-title">
            Отзывы наших спортсменов
        </div>

        <div class="reviews__items">

            <div class="reviews__item-big reviews__item">
                <div class="reviews__item-top-img">
                    <img src="../../static/img/content/cite.png" alt="">
                </div>

                <div class="reviews__item-content m-desc">
                    Каждое занятие состоит из теоретической части, практики и тренировочной игры. <br> 
                    В теоретической части рассказывается об истории бильярда и правилах игры.
                </div>

                <div class="reviews__item-name">
                    Александра Мищук
                </div>

                <div class="date">
                    13.06.2018
                </div>
            </div>

            <div class="reviews__item-min reviews__item">
                <div class="reviews__item-top-img">
                    <img src="../../static/img/content/cite.png" alt="">
                </div>

                <div class="reviews__item-content">
                    Каждое занятие состоит из теоретической части, практики и тренировочной игры. 
                    В теоретической части рассказывается об истории бильярда и правилах игры.
                </div>

                <div class="reviews__item-name">
                    Александра Мищук
                </div>

                <div class="date">
                    13.06.2018
                </div>
            </div>

            <div class="reviews__item-min reviews__item">
                <div class="reviews__item-top-img">
                    <img src="../../static/img/content/cite.png" alt="">
                </div>

                <div class="reviews__item-content m-desc">
                    Каждое занятие состоит из теоретической части, практики и тренировочной игры. <br> 
                    В теоретической части рассказывается об истории бильярда и правилах игры.
                </div>

                <div class="reviews__item-name">
                    Александра Мищук
                </div>

                <div class="date">
                    13.06.2018
                </div>
            </div>

            <div class="reviews__item-big reviews__item">
                <div class="reviews__item-top-img">
                    <img src="../../static/img/content/cite.png" alt="">
                </div>

                <div class="reviews__item-content">
                    Каждое занятие состоит из теоретической части, практики и тренировочной игры. 
                    В теоретической части рассказывается об истории бильярда и правилах игры.
                </div>

                <div class="reviews__item-name">
                    Александра Мищук
                </div>

                <div class="date">
                    13.06.2018
                </div>

            </div>
        </div>

        <div class="reviews__link-cont-2">
            <a href="#" class="m-link">
                Загрузить еще
            </a>
            {{Icon iconName="bottom-arrow"}}
        
        </div>
    </div>
</div>