<div class="section-1 articles">
    <div class="wrapper">
        <div class="m-title">
            Последние статьи
        </div>

        <div class="articles__items">
            <div class="articles__item">
                <a href="#" class="articles__item-img">
                {{Icon iconName="search"}}
                <img src="../../static/img/content/articles-img-4.jpg" alt="">
                </a>

                <a href="#" class="articles__item-title m-title-min">
                    В москве прошел праздник бильярда
                </a>

                <div class="articles__item-desc m-desc">
                    Индивидуальные и групповые тренировки 
                    в Москве по русскому бильярду, пулу и снукеру
                </div>

                <div class="date">
                    13.06.2018
                </div>

            </div>

            <div class="articles__item">
                <a href="#" class="articles__item-img">
                {{Icon iconName="search"}}
                <img src="../../static/img/content/articles-img-2.jpg" alt="">
                </a>

                <a href="#" class="articles__item-title m-title-min">
                    В москве прошел праздник бильярда
                </a>

                <div class="articles__item-desc m-desc">
                    Индивидуальные и групповые тренировки 
                    в Москве по русскому бильярду, пулу и снукеру
                </div>

                <div class="date">
                    13.06.2018
                </div>
            </div>

            <div class="articles__item">
                <a href="#" class="articles__item-img">
                {{Icon iconName="search"}}
                <img src="../../static/img/content/articles-img-3.jpg" alt="">
                </a>

                <a href="#" class="articles__item-title m-title-min">
                    В москве прошел праздник бильярда
                </a>

                <div class="articles__item-desc m-desc">
                    Индивидуальные и групповые тренировки 
                    в Москве по русскому бильярду, пулу и снукеру
                </div>

                <div class="date">
                    13.06.2018
                </div>
            </div>
            <div class="articles__item">
                <a href="#" class="articles__item-img">
                    {{Icon iconName="search"}}
                    <img src="../../static/img/content/articles-img-4.jpg" alt="">
                </a>

                <a href="#" class="articles__item-title m-title-min">
                    В москве прошел праздник бильярда
                </a>

                <div class="articles__item-desc m-desc">
                    Индивидуальные и групповые тренировки 
                    в Москве по русскому бильярду, пулу и снукеру
                </div>

                <div class="date">
                    13.06.2018
                </div>
            </div>

            <div class="articles__item">
                <a href="#" class="articles__item-img">
                {{Icon iconName="search"}}
                    <img src="../../static/img/content/articles-img-2.jpg" alt="">
                </a>

                <a href="#" class="articles__item-title m-title-min">
                    В москве прошел праздник бильярда
                </a>

                <div class="articles__item-desc m-desc">
                    Индивидуальные и групповые тренировки 
                    в Москве по русскому бильярду, пулу и снукеру
                </div>

                <div class="date">
                    13.06.2018
                </div>
            </div>

            <div class="articles__item">
                <a href="#" class="articles__item-img">
                {{Icon iconName="search"}}
                <img src="../../static/img/content/articles-img-3.jpg" alt="">
                </a>

                <a href="#" class="articles__item-title m-title-min">
                    В москве прошел праздник бильярда
                </a>

                <div class="articles__item-desc m-desc">
                    Индивидуальные и групповые тренировки 
                    в Москве по русскому бильярду, пулу и снукеру
                </div>

                <div class="date">
                    13.06.2018
                </div>
            </div>
        </div>

        <div class="reviews__link-cont-2">
            <a href="#" class="m-link">
                Загрузить еще
            </a>
            
            <svg class="icon__bottom-arrow" width="17px" height="10px">
                <use xlink:href="#bottom-arrow"></use>
            </svg>
        </div>
    </div>
</div>