<section class="lesson">
    <div class="wrapper">

        <div class="lesson__left html">
            <h2>
                    Как проходят занятия?   
            </h2>
            <p class="m-desc">Программа обучения детей в нашей школе разделена на несколько этапов: от нулевого уровня, где обучение проходит в увлекательной игровой форме, и до индивидуальных тренировок, 
                где каждый урок — это преодоление себя и шаг ребенка к титулу Чемпиона.</p>
            <p class="m-desc">Тренировки проходят в нескольких секциях в Москве и Калуге, адреса вы можете узнать 
                в разделе Контакты. Программа обучения детей в нашей школе разделена на несколько этапов где обучение проходит в увлекательной игровой форме.</p>
                <p class="m-desc">
                    Программа обучения детей в нашей школе разделена на несколько этапов: от нулевого уровня, где обучение проходит в увлекательной игровой форме, и до индивидуальных тренировок
                </p>
        </div>

        <div class="lesson__right">
            <div class="lesson__img-cont">
                <img src="static/img/content/lesson-img.jpg" alt="">
            </div>
        </div>
    </div>
</section>