<section class="train">
    <div class="wrapper">

        <div class="m-title">
            Наши тренера
        </div>

        <div class="train__slider-container">
            <div class="train-slider train__container">
                <div class="swiper-wrapper train__wrapper">

                    <div class="swiper-slide train__slide">
                        <img src="static/img/content/slide-img-1.png" alt="" data-title="lorem lorem" data-desc="lorem lorem lorem" data-content=" Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus enim harum nisi at temporibus! Possimus eligendi, aliquam quia, beatae culpa suscipit accusantium repellendus laudantium in fugiat eveniet ab quidem maxime.">
                    </div>
    
                    <div class="swiper-slide train__slide" >
                        <img src="static/img/content/slide-img-2.png" alt="" data-title="lorem lorem" data-desc="lorem lorem lorem" data-content=" Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus enim harum nisi at temporibus! Possimus eligendi, aliquam quia, beatae culpa suscipit accusantium repellendus laudantium in fugiat eveniet ab quidem maxime.">
                    </div>
    
                    <div class="swiper-slide train__slide">
                        <img src="static/img/content/slide-img-3.png" class="rto-img" alt=""  data-title="lorem lorem" data-desc="lorem lorem lorem" data-content=" Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus enim harum nisi at temporibus! Possimus eligendi, aliquam quia, beatae culpa suscipit accusantium repellendus laudantium in fugiat eveniet ab quidem maxime.">
                    </div>
    
                    <div class="swiper-slide train__slide">
                        <img src="static/img/content/slide-img-1.png" alt=""  data-title="lorem lorem" data-desc="lorem lorem lorem" data-content=" Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus enim harum nisi at temporibus! Possimus eligendi, aliquam quia, beatae culpa suscipit accusantium repellendus laudantium in fugiat eveniet ab quidem maxime.">
                    </div>
    
                    <div class="swiper-slide train__slide">
                        <img src="static/img/content/slide-img-2.png" alt="" data-title="lorem lorem" data-desc="lorem lorem lorem" data-content=" Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus enim harum nisi at temporibus! Possimus eligendi, aliquam quia, beatae culpa suscipit accusantium repellendus laudantium in fugiat eveniet ab quidem maxime.">
                    </div>

                    <div class="swiper-slide train__slide">
                        <img src="static/img/content/slide-img-3.png" class="rto-img" alt="" data-title="lorem lorem" data-desc="lorem lorem lorem" data-content=" Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus enim harum nisi at temporibus! Possimus eligendi, aliquam quia, beatae culpa suscipit accusantium repellendus laudantium in fugiat eveniet ab quidem maxime.">
                    </div>

                </div>
    
                <div class="swiper-button-prev train__button">
                    {{Icon iconName='button-icon'}}
                </div>
                <div class="swiper-button-next train__button">
                    {{Icon iconName='button-icon'}}
                </div>

                
            </div>

            <div class="train__caption">
                <div class="train__title"></div>
                <div class="train__desc"></div>  
                <div class="train__content"></div>
            </div>

            
    
        </div>
    </div>
</section>