.train{
    width: 100%;  
    overflow: hidden;
    .wrapper{
        padding-top: 50px;
        padding-bottom: 20px;
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
    }
    .m-title{
        margin-bottom: 35px;
    }
    &__slider-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        overflow: hidden;
        @media screen and(max-width: 768px) {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    &__container{
        display: flex;
        justify-content: stretch;
        z-index: 0;
        overflow: hidden;
        width: 80%;
        @media screen and(max-width: 768px) {
            width: 100%;
        }
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__wrapper{
        width: 100%;    
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__slide{
        border-radius: 10px;
        height: 355px;
        max-width: 33%;
        display: flex;
        position: relative;
        cursor: pointer;
        justify-content: flex-end;
        align-items: flex-end;
        background: none;
        box-sizing: border-box;
        overflow: visible;
        justify-content: space-between;
        img{
            transition: 0.3s;
        }
        @media screen and(max-width: 1024px) {
            max-width: 420px;
        }
        @media screen and(max-width: 768px) {
            max-width: 100%;
            justify-content: center;
        }
    }
    &__caption{
        min-width: 237px;
        max-width: 237px;
        transition: 0.3s;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 1;
        @media screen and(max-width: 768px) {
            padding: 10px 0;
            max-width: 100%;
        }
    }
    &__title{
        font-size: 18px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        font-size: 18px;
        color: rgb(2, 92, 178);
        font-weight: bold;
        text-transform: uppercase;
    }
    &__desc{
        font-size: 16px;
        color: rgb(177, 182, 211);
        line-height: 1.875;
    }
    .train__button{
        top: 45px;
        z-index: 1000000000000000;
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        width: 45px;
        transition: 0.3s;
        box-shadow: 0px 0px 17.1px 0.9px #efeefb;
        height: 45px;
        border-radius: 50%;
        z-index: 1000;
        svg{
            fill: #fcb800;
        }
        &:hover{
            background-color: rgb(252, 184, 0);
            svg{
                fill: #fff;
            }
        }
    }
    &__right{
        max-width: 240px;
        margin-left: 30px;
    }
    &__content{
        font-size: 16px;
        color: rgb(128, 128, 128);
    }
    .swiper-button-next{
        right: 10px;
        transform-origin: 50% 50%;
        transform: rotate(180deg);

    }
    .swiper-button-prev{
        right: 65px;
    }
    .swiper-slide{
        img{
            transform: scale(0.9) translateY(20px);
        }
    }
    .swiper-slide-active{
        img{
            filter: blur(0px);
            transform: scale(1.1);
        }
    }
    &__main-content{
        display: flex;
        width: 53%;
        align-items: center;
        margin-bottom: 20px;
    }
    &__right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }
}

   
  