<div class="footer">
    <div class="wrapper">
        <div class="footer__logo">
            <a href="index.html">
                {{Icon iconName="logo"}}
            </a>
        </div>

        <div class="footer__right">
            <div class="footer__menu">
                <a href="#" class="m-link">Уроки бильярда</a>
                <a href="#" class="m-link">Магазин</a>
                <a href="#" class="m-link">О школе</a>
                <a href="#" class="m-link">Отзывы</a>
                <a href="#" class="m-link">Полезные статьи</a>
                <a href="#" class="m-link">Контакты</a>
            </div>

            <div class="footer__features">
                <div class="footer__phone">
                    <a href="tel:+79167213630" class="m-link">+7 (916) 721-36-30</a>
                </div>

                <div class="footer__social">
                    <a href="#" class="first__social-link">
                        {{Icon iconName='inst-footer'}}
                    </a>
                    <a href="#" class="first__social-link">
                        {{Icon iconName='vk-footer'}}
                    </a>
                    <a href="#" class="first__social-link">
                        {{Icon iconName='yt-footer'}}
                    </a>
                </div>
            </div>
        </div>

        
    </div>
</div>

<div class="footer__bottom">
    <div class="wrapper">
        <div class="footer__bottom-copy">© Школа бильярда 2018</div>

        <div class="footer__bottom-right">
            Создание сайта - 
            <a href="http://markello.ru" target="_blank" class="m-link-bottom">Markello</a>
        </div>
    </div>
    
</div>


<div class="overlay"></div>

<div class="modal modal-sign">
    <div class="modal-close">
        {{Icon iconName="close"}}
    </div>
    <div class="main-form__top">
        <div class="main-form__title m-title">
                Записаться на пробное
                занятие
        </div>
        <div class="main-form__desc m-desc">Оставьте заявку и мы перезвоним вам</div>

        <form id="my-form-modal" class="main-form" action="#" methos="post">
            <input style="background-image: url(../static/img/content/input-icon-1.png" 
            class="m-field " 
            type="name" 
            name="name" 
            placeholder="Ваше имя">

            <input style="background-image: url(../static/img/content/input-icon-2.png" 
            class="m-field " 
            type="phone" 
            name="phone" 
            placeholder="Ваш телефон">

            <button class="m-button modal-good-open  price__form-button">
                Отправить
            </button>
        </form>
    </div>
</div> 

<div class="modal-good">
    <div class="modal-close">
        {{Icon iconName="close"}}
    </div>
    <div class="m-title">
        Ожидайте звонка!
    </div>
</div>

<div class="modal modal-shop">
    <div class="modal-close">
        {{Icon iconName="close"}}
    </div>
    <div class="main-form__top">
        <div class="main-form__title m-title">
            Купить данный товар
        </div>
        <div class="main-form__desc m-desc">Оставьте заявку и мы перезвоним вам</div>

        <form id="my-form-modal" class="main-form" action="#" methos="post">
            <input style="background-image: url(../static/img/content/input-icon-1.png" 
            class="m-field " 
            type="name" 
            name="name" 
            placeholder="Ваше имя">

            <input style="background-image: url(../static/img/content/input-icon-2.png" 
            class="m-field " 
            type="phone" 
            name="phone" 
            placeholder="Ваш телефон">

            <button class="m-button modal-good-open  price__form-button">
                Отправить
            </button>
        </form>
    </div>
</div> 