<section class="adv wrapper">
    <div class="adv__items">
        <div class="adv__item">
            <div class="adv__img-cont">
                {{Icon iconName='adv-img-3'}} 
            </div>
            
            <div class="adv__desc">
                <div class="adv__title">
                    Первый урок БЕСПЛАТНО
                </div>
    
                <div class="adv__caption">
                        Приходите на пробное занятие уже завтра
                </div>
            </div>
        </div>

        <div class="adv__item">
            <div class="adv__img-cont">
                {{Icon iconName='adv-img-2'}}                
            </div>
            
            <div class="adv__desc">
                <div class="adv__title">
                        Место и время выбираете вы
                </div>
    
                <div class="adv__caption">
                        Тренировки проходят больше чем <br> в 20-ти клубах Москвы
                </div>
            </div>
        </div>

        <div class="adv__item">
            <div class="adv__img-cont">
                {{Icon iconName='adv-img-1'}} 
            </div>
            
            <div class="adv__desc">
                <div class="adv__title">
                        Для взрослых и детей от 6-ти лет
                </div>
    
                <div class="adv__caption">
                        Через 5 занятий вы овладеете базовыми навыками
                </div>
            </div>
        </div>
    </div> 
</section>