<section class="client">
    <div class="wrapper">
        <div class="m-title">Нам уже доверяют</div>

        <div class="client__container">
            <div class="swiper-wrapper client__wrapper">
                <div class="swiper-slide client__slide">
                    <img src="static/img/content/evrolan.jpg" alt="">                        
                </div>

                <div class="swiper-slide client__slide">
                    <img src="static/img/content/honey.jpg" alt="">                        
                </div>

                <div class="swiper-slide client__slide">
                    <img src="static/img/content/molex.jpg" alt="">                        
                </div>

                <div class="swiper-slide client__slide">
                    <img src="static/img/content/ibm.jpg" alt="">                        
                </div>

                <div class="swiper-slide client__slide">
                    <img src="static/img/content/evrolan.jpg" alt="">                        
                </div>

                <div class="swiper-slide client__slide">
                    <img src="static/img/content/evrolan.jpg" alt="">                        
                </div>

                <div class="swiper-slide client__slide">
                    <img src="static/img/content/evrolan.jpg" alt="">                        
                </div>

                <div class="swiper-slide client__slide">
                    <img src="static/img/content/evrolan.jpg" alt="">                        
                </div>

                <div class="swiper-slide client__slide">
                    <img src="static/img/content/evrolan.jpg" alt="">                        
                </div>

            </div>

            <div class="swiper-button-prev client__button-prev client__button">
                {{Icon iconName='button-icon'}}
            </div>
            <div class="swiper-button-next client__button-next client__button">
                {{Icon iconName='button-icon'}}
            </div>
        </div>
    </div>
</section>

<div class="wrapper wrapper-2">
    <div class="form-2 form">
        <div class="form__left form-2__left">
            <div class="form__title">
                <img src="static/img/content/form-img-2.jpg" alt="">
                <div class="m-title">
                    По вопросам сотрудничества
                </div>
            </div>
        </div>
        <div class="form-2__right">
            <div class="form-2__right-top">
                <div class="form__caption">
                    <div class="form__right-title">
                        Ярослав Гладский
                    </div>

                    <div class="form__right-desc">
                        Директор по развитию
                    </div>
                </div>
            </div>

            <div class="form__link">
                <a href="tel:89687460468" class="m-link">
                    8 968 746 04 68
                </a>
            </div>

            <a href="#" class="m-button modal-open form__item form-2__item price__form-button">
                Заказать звонок
            </a>
        </div>
    </div>
</div>

