<div class="articles-top">
    <div class="wrapper">
        <div class="m-page-title">
            Полезные статьи
        </div>
        <div class="articles-top__content">
            
            <div class="articles-top__left">
                <div class="articles-top__left-top" style="background-image: url(../../static/img/content/articles-top-img.jpg);">
                </div>

                <div class="articles-top__title m-title">
                    Посетите пробное занятие
                </div>

                <div class="articles-top__desc m-desc">
                    Индивидуальные и групповые тренировки в Москве по русскому бильярду, пулу и снукеру
                    Каждое занятие состоит из теоретической части, практики и тренировочной игры.
                </div>

                <div class="date">
                    12.08.2018
                </div>
            </div>

            <div class="articles-top__right">
                <div class="articles-top__title m-title">
                        Популярные статьи
                </div>

                <div class="articles-top__items">
                    <a href="article.html" class="articles-top__item">
                        <div class="articles-top__item-bg" style="background-image: url(../../static/img/content/articles-img-1.jpg);"></div>
                        <div class="articles-top__number">
                                01.
                        </div>

                        <div class="articles-top__item-title">
                                Чемпионат по карамболю среди детей
                        </div>

                        <div class="articles-top__date date">
                                12.08.2018
                        </div>
                    </a>

                    <a href="article.html" class="articles-top__item">
                        <div class="articles-top__item-bg" style="background-image: url(../../static/img/content/articles-img-1.jpg);"></div>
                        <div class="articles-top__number">
                                02. 
                        </div>

                        <div class="articles-top__item-title">
                                Тренировки по русскому бильярду
                                2018 во взрослой категории
                        </div>

                        <div class="articles-top__date date">
                                12.08.2018  
                        </div>
                    </a>

                    <a href="article.html" class="articles-top__item">
                        <div class="articles-top__item-bg" style="background-image: url(../../static/img/content/articles-img-1.jpg);"></div>
                        <div class="articles-top__number">
                                03.
                        </div>

                        <div class="articles-top__item-title">
                                Чемпионат по карамболю среди детей
                        </div>

                        <div class="articles-top__date date">
                                12.08.2018
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>