<section class="about section-1">
    <div class="wrapper">

        <div class="about__left">
            <div class="about__title m-title">
                О нашей школе
            </div>
            <div class="about__list">

                <div class="about__list-item">
                    <div class="about__list-desc">
                        <div class="about__list-title">13</div>
                        <div class="about__list-text m-desc">лет мы учим играть 
                        в бильярд</div>
                    </div>
                </div>

                <div class="about__list-item">
                    <div class="about__list-desc">
                        <div class="about__list-title">22</div>
                        <div class="about__list-text m-desc">лучших бильярдных
                            клуба Москвы</div>
                    </div>
                </div>

                <div class="about__list-item">
                    <div class="about__list-desc">
                        <div class="about__list-title">2000</div>
                        <div class="about__list-text m-desc">учеников прошли
                            у нас обучение</div>
                    </div>
                </div>

                <div class="about__list-item">
                    <div class="about__list-desc">
                        <div class="about__list-title">200</div>
                        <div class="about__list-text m-desc">учеников занимаются 
                            в нашей школе сейчас </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="about__center">
            <div class="m-desc about__desc">
                    Мы тренируем детей игре в бильярд с 2008 года. За это время 
                    у нас накоплен богатый опыт воспитанияспортсменов-бильярдистов различного уровня — от простых любителей до Мастеров спорта, многократных чемпионов Москвы, России и Европы.
            </div>
            <div class="about__center-title">
                Наша главная миссия 
            </div>
            <div class="m-desc about__desc">Популяризация бильярдного спорта и вовлечение детей 
                 и подростков в увлекательный и интересный мир бильярда. 
                Мы стремимся развить в учениках такие личностные качества, 
                как уверенность в себе, сила воли, самодисциплина.</div>
            <div class="m-desc about__desc">Мы тренируем детей игре в бильярд с 2008 года. За это время у нас накоплен богатый опыт воспитания спортсменов-бильярдистов различного уровня — от простых любителей до Мастеров спорта, многократных чемпионов Москвы, России и Европы.</div>
            <div class="m-desc about__desc">Мы стремимся развить в учениках такие личностные качества, 
            </div>
        </div>
        <div class="about__right">
            <a href="https://www.youtube.com/watch?v=J3QmfBfy_WI">
                <div class="about__right-title  m-title">
                    Посмотрите 
                    видео о нашей 
                    школе
                </div>

                <div class="about__button">
                    {{Icon iconName='play'}} 
                </div>
            </a>
        </div>
    </div>
</section>