<section class="reviews section-1">
    <div class="wrapper">
        <div class="m-title">
                Отзывы наших спортсменов
        </div>

        <div class="swiper-container reviews__container">
            <div class="swiper-wrapper reviews__wrapper">
                <a href="https://www.youtube.com/watch?v=J3QmfBfy_WI" class="swiper-slide reviews__slide" style="background-image:url(static/img/content/reviews-1.jpg)">
                    <img src="../../static/img/content/reviews-1.jpg" alt="">
                    
                    <div class="about__button">
                        <svg class="icon__play" width="14px" height="16px">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                </a>

                <a href="https://www.youtube.com/watch?v=J3QmfBfy_WI" class="swiper-slide reviews__slide" style="background-image:url(static/img/content/reviews-2.jpg)">
                    <img src="../../static/img/content/reviews-1.jpg" alt="">
                    
                    <div class="about__button">
                        <svg class="icon__play" width="14px" height="16px">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                </a>

                <a href="https://www.youtube.com/watch?v=J3QmfBfy_WI" class="swiper-slide reviews__slide" style="background-image:url(static/img/content/reviews-3.jpg)">
                    <img src="../../static/img/content/reviews-1.jpg" alt="">
                    
                    <div class="about__button">
                        <svg class="icon__play" width="14px" height="16px">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                </a>

                <a href="https://www.youtube.com/watch?v=J3QmfBfy_WI" class="swiper-slide reviews__slide" style="background-image:url(static/img/content/reviews-1.jpg)">
                    <img src="../../static/img/content/reviews-1.jpg" alt="">
                    
                    <div class="about__button">
                        <svg class="icon__play" width="14px" height="16px">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                </a>

                <a href="https://www.youtube.com/watch?v=J3QmfBfy_WI" class="swiper-slide reviews__slide" style="background-image:url(static/img/content/reviews-2.jpg)">
                    <img src="../../static/img/content/reviews-1.jpg" alt="">
                    
                    <div class="about__button">
                        <svg class="icon__play" width="14px" height="16px">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                </a>

            </div>

            <div class="swiper-button-prev reviews__button">
                {{Icon iconName='button-icon'}}
            </div>
            <div class="swiper-button-next reviews__button">
                {{Icon iconName='button-icon'}}
            </div>
        </div>

        <div class="reviews__link-cont">
            <a href="#" class="m-link">
                Смотреть все отзывы
            </a>

            {{Icon iconName='button-icon'}}
        </div>
    </div>
</section>