<header class="header">
    <div class="wrapper">
        <div class="header__logo">
            <a href="index.html">
                {{Icon iconName="logo"}}
            </a>
        </div>

        <div class="header__menu-open">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="humburger-overlay"></div>

        <div class="header__right">

            <div class="header__close">
                {{Icon iconName="close"}}
            </div>
            <div class="header__menu">
                <a href="lesson.html"class="header__menu-link m-link">Уроки бильярда</a>
                <a href="shop.html"class="header__menu-link m-link">Магазин</a>
                <a href="about.html"class="header__menu-link m-link">О школе</a>
                <a href="reviews.html"class="header__menu-link m-link">Отзывы</a>
                <a href="articles.html"class="header__menu-link m-link">Полезные статьи</a>
                <a href="contacts.html"class="header__menu-link m-link">Контакты</a>
            </div>

            <div class="header__phone">
                <a class=" m-link" href="tel:+79167213630">+7 (916) 721-36-30</a>
            </div>
        </div>

    </div>
</header>