<div class="wrapper form form-mt">
    <div class="form__left">
        <div class="form__title">
            <img src="static/img/content/form-img.jpg" alt="">
            <div class="m-title">
                Посетите пробное занятие
            </div>
            <div class="m-desc">
                Убедитесь, что направление вам по душе
            </div>
        </div>
    </div>
    <form id="my-direction-form" action="#" methos="post" novalidate="novalidate">
        <div class="form__right-top">
            <label>
                <input type="radio" name="check" checked="">
                <div></div>
                <p>Групповое занятие <span>бесплатно</span></p>
            </label>

            <label>
                <input type="radio" name="check">
                <div></div>
                <p>Индивидуальное занятие <span>500 руб</span></p>
            </label>
            <div class="form__price">скидка 50%</div>
        </div>
        <div class="form__right-bottom">
            <input style="background-image: url(../static/img/content/input-icon-1.png" class="m-field form__item" type="name" name="name" placeholder="Ваше имя">

            <input style="background-image: url(../static/img/content/input-icon-2.png" class="m-field form__item" type="phone" name="phone" placeholder="Ваш телефон">

            <button class="m-button form__item">
                Записаться
            </button>
        </div>
    </form>
</div>