<section class="direction section">
    <div class="wrapper">
        <div class="m-title">
            Выберите одно из 6 направлений
        </div>

        <div class="direction__content tabs tab-slider">
            <div class="shop__items tab-slider swiper-container-horizontal swiper-container-android">
                <ul class="tab__list swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">

                    <li class="tab__elem swiper-slide tab-slide" style="margin-right: 30px;">
                        <a href="#tab1" class="tab__link">кии</a>
                    </li>
        
                    <li class="tab__elem swiper-slide tab-slide" style="margin-right: 30px;">
                        <a href="#tab2" class="tab__link">Чехлы</a>
                    </li>
        
                    <li class="tab__elem swiper-slide tab-slide" style="margin-right: 30px;">
                        <a href="#tab3" class="tab__link">Подарочные сертификаты</a>
                    </li>
                </ul>
            </div>

            <div class="direction__tabs">
                <div class="direction__tabs-container" id="tab1">
                    <a href="#" class="direction__tab" style="background-image: url(static/img/content/tab-bg-1.jpg);">
                        <div class="direction__tabs-title m-link">
                                Русский бильярд
                        </div>
    
                        <div class="direction__desc m-desc">
                            Исходная позиция шаров: пирамидаиз 15 белых шаров, передний шар пирамиды находится на задней отметке, 
                            а основание пирамиды параллельно короткому 
                            борту стола
                        </div>
                    </a>
    
                    <a href="#" class="direction__tab" style="background-image: url(static/img/content/tab-bg-1.jpg);">
                        <div class="direction__tabs-title m-link">
                                Пул
                        </div>
    
                        <div class="direction__desc m-desc">
                            Исходная позиция шаров: пирамидаиз 15 белых шаров, передний шар пирамиды находится на задней отметке, 
                            а основание пирамиды параллельно короткому 
                            борту стола
                        </div>
                    </a>
    
                    <a href="#" class="direction__tab" style="background-image: url(static/img/content/tab-bg-2.jpg);">
                        <div class="direction__tabs-title m-link">
                                Снукер
                        </div>
    
                        <div class="direction__desc m-desc">
                            Исходная позиция шаров: пирамидаиз 15 белых шаров, передний шар пирамиды находится на задней отметке, 
                            а основание пирамиды параллельно короткому 
                            борту стола
                        </div>
                    </a>

                    <a href="#" class="direction__tab" style="background-image: url(static/img/content/tab-bg-3.jpg);">
                        <div class="direction__tabs-title m-link">
                                Карамболь
                        </div>
    
                        <div class="direction__desc m-desc">
                            Исходная позиция шаров: пирамидаиз 15 белых шаров, передний шар пирамиды находится на задней отметке, 
                            а основание пирамиды параллельно короткому 
                            борту стола
                        </div>
                    </a>
                </div>

                <div class="direction__tabs-container" id="tab2">
                    <a href="#" class="direction__tab" style="background-image: url(static/img/content/tab-bg-1.jpg);">
                        <div class="direction__tabs-title m-link">
                                Русский бильярд
                        </div>
    
                        <div class="direction__desc m-desc">
                            Исходная позиция шаров: пирамидаиз 15 белых шаров, передний шар пирамиды находится на задней отметке, 
                            а основание пирамиды параллельно короткому 
                            борту стола
                        </div>
                    </a>
    
                    <a href="#" class="direction__tab" style="background-image: url(static/img/content/tab-bg-2.jpg);">
                        <div class="direction__tabs-title m-link">
                                Русский бильярд
                        </div>
    
                        <div class="direction__desc m-desc">
                            Исходная позиция шаров: пирамидаиз 15 белых шаров, передний шар пирамиды находится на задней отметке, 
                            а основание пирамиды параллельно короткому 
                            борту стола
                        </div>
                    </a>
    
                    <a href="#" class="direction__tab" style="background-image: url(static/img/content/tab-bg-3.jpg);">
                        <div class="direction__tabs-title m-link">
                                Русский бильярд
                        </div>
    
                        <div class="direction__desc m-desc">
                            Исходная позиция шаров: пирамидаиз 15 белых шаров, передний шар пирамиды находится на задней отметке, 
                            а основание пирамиды параллельно короткому 
                            борту стола
                        </div>
                    </a>
                </div>

                <div class="direction__tabs-container" id="tab3">
                    <a href="#" class="direction__tab" style="background-image: url(static/img/content/tab-bg-1.jpg);">
                        <div class="direction__tabs-title m-link">
                                Русский бильярд
                        </div>
    
                        <div class="direction__desc m-desc">
                            Исходная позиция шаров: пирамидаиз 15 белых шаров, передний шар пирамиды находится на задней отметке, 
                            а основание пирамиды параллельно короткому 
                            борту стола
                        </div>
                    </a>
    
                    <a href="#" class="direction__tab" style="background-image: url(static/img/content/tab-bg-2.jpg);">
                        <div class="direction__tabs-title m-link">
                                Русский бильярд
                        </div>
    
                        <div class="direction__desc m-desc">
                            Исходная позиция шаров: пирамидаиз 15 белых шаров, передний шар пирамиды находится на задней отметке, 
                            а основание пирамиды параллельно короткому 
                            борту стола
                        </div>
                    </a>
    
                    <a href="child.html" class="direction__tab" style="background-image: url(static/img/content/tab-bg-3.jpg);">
                        <div class="direction__tabs-title m-link">
                            Пул для детей
                        </div>
    
                        <div class="direction__desc m-desc">
                            Исходная позиция шаров: пирамидаиз 15 белых шаров, передний шар пирамиды находится на задней отметке, 
                            а основание пирамиды параллельно короткому 
                            борту стола
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</section>