<section class="section-1 price">
    <div class="wrapper">
        <div class="m-title">
            Сколько стоит обучение?
        </div>

        <div class="price__content">
            

            <div class="price__column">
                <div class="price__item">
                    <div class="price__top">
                        <div class="price__title">
                            «Индивидуальное занятие»
                        </div>
                        <div class="price__desc">
                            1 человек   
                        </div>

                        <div class="price__table-container">
                            <table class="price__table">
                                <tr>
                                    <td></td>
                                    <td>Цена</td>
                                    <td>Период</td>
                                    <td>Кол-во <br> занятий:</td>
                                    <td>Стоимость:</td>
                                </tr>
        
                                <tr>
                                    <td>1 зан-е</td>
                                    <td>3000</td>
                                    <td>1 день</td>
                                    <td>1</td>
                                    <td>3000</td>
                                </tr>
                                <tr>
                                    <td>10 зан-й</td>
                                    <td>2700</td>
                                    <td>60 дней</td>
                                    <td>10</td>
                                    <td>27000</td>
                                </tr>
                                <tr>
                                    <td>30 зан-й</td>
                                    <td>2400</td>
                                    <td>180 дней</td>
                                    <td>30</td>
                                    <td>72000</td>
                                </tr>
                            </table>
                        </div>
    
                        <div class="price__caption">
                            <div>На 2-й раз в неделю - <span> скидка 20%.</span>
                                Это для тех, кто платит поразово и занимается раз 
                                в неделю, на второй раз на этой неделе будет скидка 
                                20%. То есть 1-й раз 4000 руб, второй раз 3200 руб.</div>
    
                            <div class="m-button price__caption-button modal-open">Купить</div>
                        </div>
    
                    </div>
    
                    <div class="price__button">
                        <div class="price__button-img">
                            <img src="static/img/content/button-arrow.png" alt="">
                        </div>
                    </div>
                </div>
        
                <div class="price__item">
                    <div class="price__top">
                        <div class="price__title">
                                «Индивидуальное занятие»
                        </div>
                        <div class="price__desc">
                                1 человек   
                        </div>
    
                        <div class="price__table-container">
                            <table class="price__table">
                                <tr>
                                    <td></td>
                                    <td>Цена</td>
                                    <td>Период</td>
                                    <td>Кол-во <br> занятий:</td>
                                    <td>Стоимость:</td>
                                </tr>
        
                                <tr>
                                    <td>1 зан-е</td>
                                    <td>3000</td>
                                    <td>1 день</td>
                                    <td>1</td>
                                    <td>3000</td>
                                </tr>
                                <tr>
                                    <td>10 зан-й</td>
                                    <td>2700</td>
                                    <td>60 дней</td>
                                    <td>10</td>
                                    <td>27000</td>
                                </tr>
                                <tr>
                                    <td>30 зан-й</td>
                                    <td>2400</td>
                                    <td>180 дней</td>
                                    <td>30</td>
                                    <td>72000</td>
                                </tr>
                            </table>
                        </div>
    
                        <div class="price__caption">
                            <div>На 2-й раз в неделю - <span> скидка 20%.</span>
                                Это для тех, кто платит поразово и занимается раз 
                                в неделю, на второй раз на этой неделе будет скидка 
                                20%. То есть 1-й раз 4000 руб, второй раз 3200 руб.</div>
    
                            <div class="m-button price__caption-button modal-open">Купить</div>
                        </div>
    
                        
    
                    </div>
        
                    <div class="price__button">
                        <div class="price__button-img">
                            <img src="static/img/content/button-arrow.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="price__column">
                <div class="price__item">
                    <div class="price__top">
                        <div class="price__title">
                                «Индивидуальное занятие»
                        </div>
                        <div class="price__desc">
                                1 человек   
                        </div>
    
                        <div class="price__table-container">
                            <table class="price__table">
                                <tr>
                                    <td></td>
                                    <td>Цена</td>
                                    <td>Период</td>
                                    <td>Кол-во <br> занятий:</td>
                                    <td>Стоимость:</td>
                                </tr>
        
                                <tr>
                                    <td>1 зан-е</td>
                                    <td>3000</td>
                                    <td>1 день</td>
                                    <td>1</td>
                                    <td>3000</td>
                                </tr>
                                <tr>
                                    <td>10 зан-й</td>
                                    <td>2700</td>
                                    <td>60 дней</td>
                                    <td>10</td>
                                    <td>27000</td>
                                </tr>
                                <tr>
                                    <td>30 зан-й</td>
                                    <td>2400</td>
                                    <td>180 дней</td>
                                    <td>30</td>
                                    <td>72000</td>
                                </tr>
                            </table>
                        </div>
    
                        <div class="price__caption">
                            <div>На 2-й раз в неделю - <span> скидка 20%.</span>
                                Это для тех, кто платит поразово и занимается раз 
                                в неделю, на второй раз на этой неделе будет скидка 
                                20%. То есть 1-й раз 4000 руб, второй раз 3200 руб.</div>
    
                            <div class="m-button price__caption-button modal-open">Купить</div>
                        </div>
    
                    </div>
    
                    <div class="price__button">
                        <div class="price__button-img">
                            <img src="static/img/content/button-arrow.png" alt="">
                        </div>
                    </div>
                </div>
        
                <div class="price__item">
                    <div class="price__top">
                        <div class="price__title">
                                «Индивидуальное занятие»
                        </div>
                        <div class="price__desc">
                                1 человек   
                        </div>
    
                        <div class="price__table-container">
                            <table class="price__table">
                                <tr>
                                    <td></td>
                                    <td>Цена</td>
                                    <td>Период</td>
                                    <td>Кол-во <br> занятий:</td>
                                    <td>Стоимость:</td>
                                </tr>
        
                                <tr>
                                    <td>1 зан-е</td>
                                    <td>3000</td>
                                    <td>1 день</td>
                                    <td>1</td>
                                    <td>3000</td>
                                </tr>
                                <tr>
                                    <td>10 зан-й</td>
                                    <td>2700</td>
                                    <td>60 дней</td>
                                    <td>10</td>
                                    <td>27000</td>
                                </tr>
                                <tr>
                                    <td>30 зан-й</td>
                                    <td>2400</td>
                                    <td>180 дней</td>
                                    <td>30</td>
                                    <td>72000</td>
                                </tr>
                            </table>
                        </div>
    
                        <div class="price__caption">
                            <div>На 2-й раз в неделю - <span> скидка 20%.</span>
                                Это для тех, кто платит поразово и занимается раз 
                                в неделю, на второй раз на этой неделе будет скидка 
                                20%. То есть 1-й раз 4000 руб, второй раз 3200 руб.</div>
    
                            <div class="m-button price__caption-button modal-open">Купить</div>
                        </div>
    
                        
    
                    </div>
        
                    <div class="price__button">
                        <div class="price__button-img">
                            <img src="static/img/content/button-arrow.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="price__column">
                <div class="price__item">
                    <div class="price__top">
                        <div class="price__title">
                                «Индивидуальное занятие»
                        </div>
                        <div class="price__desc">
                                1 человек   
                        </div>
    
                        <div class="price__table-container">
                            <table class="price__table">
                                <tr>
                                    <td></td>
                                    <td>Цена</td>
                                    <td>Период</td>
                                    <td>Кол-во <br> занятий:</td>
                                    <td>Стоимость:</td>
                                </tr>
        
                                <tr>
                                    <td>1 зан-е</td>
                                    <td>3000</td>
                                    <td>1 день</td>
                                    <td>1</td>
                                    <td>3000</td>
                                </tr>
                                <tr>
                                    <td>10 зан-й</td>
                                    <td>2700</td>
                                    <td>60 дней</td>
                                    <td>10</td>
                                    <td>27000</td>
                                </tr>
                                <tr>
                                    <td>30 зан-й</td>
                                    <td>2400</td>
                                    <td>180 дней</td>
                                    <td>30</td>
                                    <td>72000</td>
                                </tr>
                            </table>
                        </div>
    
                        <div class="price__caption">
                            <div>На 2-й раз в неделю - <span> скидка 20%.</span>
                                Это для тех, кто платит поразово и занимается раз 
                                в неделю, на второй раз на этой неделе будет скидка 
                                20%. То есть 1-й раз 4000 руб, второй раз 3200 руб.</div>
    
                            <div class="m-button price__caption-button modal-open">Купить</div>
                        </div>
    
                    </div>
    
                    <div class="price__button">
                        <div class="price__button-img">
                            <img src="static/img/content/button-arrow.png" alt="">
                        </div>
                    </div>
                </div>
        
                <div class="price__item">
                    <div class="price__top">
                        <div class="price__title">
                                «Индивидуальное занятие»
                        </div>
                        <div class="price__desc">
                                1 человек   
                        </div>
    
                        <div class="price__table-container">
                            <table class="price__table">
                                <tr>
                                    <td></td>
                                    <td>Цена</td>
                                    <td>Период</td>
                                    <td>Кол-во <br> занятий:</td>
                                    <td>Стоимость:</td>
                                </tr>
        
                                <tr>
                                    <td>1 зан-е</td>
                                    <td>3000</td>
                                    <td>1 день</td>
                                    <td>1</td>
                                    <td>3000</td>
                                </tr>
                                <tr>
                                    <td>10 зан-й</td>
                                    <td>2700</td>
                                    <td>60 дней</td>
                                    <td>10</td>
                                    <td>27000</td>
                                </tr>
                                <tr>
                                    <td>30 зан-й</td>
                                    <td>2400</td>
                                    <td>180 дней</td>
                                    <td>30</td>
                                    <td>72000</td>
                                </tr>
                            </table>
                        </div>
    
                        <div class="price__caption">
                            <div>На 2-й раз в неделю - <span> скидка 20%.</span>
                                Это для тех, кто платит поразово и занимается раз 
                                в неделю, на второй раз на этой неделе будет скидка 
                                20%. То есть 1-й раз 4000 руб, второй раз 3200 руб.</div>
    
                            <div class="m-button price__caption-button modal-open">Купить</div>
                        </div>
    
                        
    
                    </div>
        
                    <div class="price__button">
                        <div class="price__button-img">
                            <img src="static/img/content/button-arrow.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</section>