<section class="video">
    <div class="wrapper">
        <div class="m-title">Посмотрите видео о нашей школе</div>

        <div class="video__block">

            <a class="video__block-content" href="https://www.youtube.com/watch?v=_0LdWpOkPFs"></a>
            <img src="../../static/img/content/video-block.jpg" alt=""> 
            <div class="about__button video__button">
                            
                <svg class="icon__play" width="14px" height="16px">
                    <use xlink:href="#play"></use>
                </svg>
             
            </div>
        </div>

        
    </div>
</section>