<section class="video">
    <div class="wrapper">
        <div class="m-title">Посмотрите видео о нашей школе</div>

        <div class="video__block">

            <a href="https://www.youtube.com/watch?v=_0LdWpOkPFs" class="video__block-content">
                <img src="../../static/img/content/video-block.jpg" alt=""> 
                <div class="about__button video__button">
                    
                    <svg class="icon__play" width="14px" height="16px">
                        <use xlink:href="#play"></use>
                    </svg>
                    
                </div>
            </a>

            
        </div>
        
    </div>
</section>