<section class="services">
    <div class="wrapper">
        <div class="m-title">
                Другие наши услуги
        </div>
        <div class="swiper-container services-slider">
            <div class="swiper-wrapper">
                <a href=="#" class="swiper-slide">
                    <img src="../../static/img/content/services-img-1.jpg" alt="">
                    <div class="direction__tabs-title m-link">
                            Проводим бильярдные шоу
                    </div>

                </a>
                
                <a href=="#" class="swiper-slide">
                    <img src="../../static/img/content/services-img-2.jpg" alt="">
                    <div class="direction__tabs-title m-link">
                        Поможем подобрать кии
                    </div>
                </a>

                <a href=="#" class="swiper-slide">
                    <img src="../../static/img/content/services-img-3.jpg" alt="">
                    <div class="direction__tabs-title m-link">
                        Проводим турниры
                    </div>
                </a>

                <a href=="#" class="swiper-slide">
                    <img src="../../static/img/content/services-img-3.jpg" alt="">
                    <div class="direction__tabs-title m-link">
                        Проводим турниры
                    </div>
                </a>
            </div>

            <div class="swiper-button-prev galery-button">
                {{Icon iconName="button-icon"}}
            </div>
            <div class="swiper-button-next galery-button">
                {{Icon iconName="button-icon"}}
            </div>
        </div>
    </div>
</section>