<section class="programm">
    <div class="wrapper">
        <div class="programm__content">
            <div class="programm__left">
                <div class="m-desc">
                    Программа обучения детей в нашей школе разделена на несколько этапов: от нулевого уровня, где обучение проходит в увлекательной игровой форме, и до индивидуальных тренировок, где каждый урок — это преодоление себя и шаг ребенка к титулу Чемпиона.
                </div>

                <div class="programm__list">
                    <a href="#">Проводим бильярдные шоу</a>
                    <a href="#">Поможем подобрать кий</a>
                    <a href="#">Проводим турниры</a>
                </div>

                <a href="#" class="m-button programm__button">
                    <span>
                        Перейти в магазин
                    </span>
                    {{Icon iconName="button-icon"}}
                </a>
            </div>
            <div class="programm__right">
                <img src="static/img/content/programm-img.jpg">
            </div>
        </div>
    </div>
</section>