<section class="rate section">
    <div class="wrapper">
        <div class="rate__caption">
            <div class="rate__title">
                    Тариф
            </div>
            <div class="rate__desc">«Индивидуальное занятие»</div>
        </div>

        <div class="rate__list">

            <div class="rate__item">
                <div class="rate__top">Кол-во занятий:</div>
                <div class="rate__bottom"> 10 занятий</div>
            </div>

            <div class="rate__item">
                <div class="rate__top">Cрок действия:</div>
                <div class="rate__bottom">2 месяца</div>
            </div>
            <div class="rate__item">
                <div class="rate__top">Стоимость:</div>
                <div class="rate__bottom"> <span>3 500 руб.</span> 2 700 руб.</div>
            </div>
        </div>

        <div class="rate__button">
            <a href="#" class="m-button modal-open">Записаться</a>
        </div>
    </div>
</section>